<%# PAGE D'INSCRIPTION %>

<div class="registration-new-general-div">
  <h3>Inscription</h3>

  <div class="session-new-line">
    <%= image_tag "svg/ligne.svg", class: "session-new-ligne", data: { inject: { svg: "svg/ligne.svg" } }, :width => 300 %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="formulaire">
      <%= f.input :first_name,
                  placeholder: 'prénom',
                  required: true,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Prénom :" }%>
      <%= f.input :instagram_account,
                  placeholder: 'Instagram',
                  required: false,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Mon compte Instagram" }%>
      <%= f.input :phone_number,
                  placeholder: 'numéro de téléphone',
                  required: false,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Mon numéro pour retrouver mes voisins de rame" }%>
      <%= f.input :email,
                  placeholder: 'email',
                  required: false,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Email :" }%>
      <%= f.input :user_photo, as: :file,
                  label: false,
                  :include_blank => false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "ajouter une photo de profil" },
                  class: "form-control"%>
      <%= f.input :password,
                  placeholder: 'mot de passe',
                  required: true,
                  :label => false,
                  input_html: { autocomplete: "Nouveau mot de passe" } %>
      <%= f.input :password_confirmation,
                  placeholder: 'mot de passe (confirmer)',
                  required: true,
                  :label => false,
                  input_html: { autocomplete: "Confirmation du mot de passe" } %>
    </div>

    <button id="submit-green-btn" type="button"><%= f.button :submit, "S'inscrire" %></button>
  <% end %>

  <div class="session-new-links">Ou<%= render "devise/shared/links" %></div>
</div>
