<div class="session-new-general-div">
  <h3>Inscription</h3>

  <div class="session-new-line">
    <%= image_tag "svg/ligne.svg", class: "session-new-ligne", data: { inject: { svg: "svg/ligne.svg" } }, :width => 300 %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="formulaire">
      <%= f.input :first_name,
                  placeholder: 'prénom',
                  required: true,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Prénom :" }%>
      <%= f.input :social_media,
                  placeholder: 'réseau sociaux',
                  required: true,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Comment me contacter :" }%>
      <%= f.input :email,
                  placeholder: 'email',
                  required: false,
                  autofocus: true,
                  :label => false,
                  input_html: { autocomplete: "Email :" }%>
      <%= f.input :password,
                  placeholder: 'mot de passe',
                  required: true,
                  :label => false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  placeholder: 'confirmer le mot de passe',
                  required: true,
                  :label => false,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <button id="submit-btn" type="button"><%= f.button :submit, "S'inscrire" %></button>
  <% end %>

  <div class="session-new-links">Ou<%= render "devise/shared/links" %></div>
</div>
