<%# MOT DE PASSE OUBLIE PAGE %>

<div class="password-new-general-div">
  <h3>Mot de passe oublié</h3>

  <div class="session-new-line">
    <%= image_tag "svg/ligne.svg", class: "session-new-ligne", data: { inject: { svg: "svg/ligne.svg" } }, :width => 300 %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="formulaire">
      <%= f.input :email,
                  placeholder: 'email',
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <button id="submit-blue-btn" type="button"><%= f.button :submit, "Envoyer les instructions" %></button>
  <% end %>

  <div class="session-new-links">Ou<%= render "devise/shared/links" %></div>
</div>
