<%# BACK BUTTON %>
<div class="profil-header-back-button">
  <%= link_to my_profil_path do %>
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
  <% end %>
</div>

<h1 class="about-title">L'équipe</h1>

<div class="bonhommes-container">
  <div class="bonhomme-part">
    <%= image_tag "svg/chef.svg", class: "bonhomme-picture", data: { inject: { svg: "svg/chef.svg" } }, :width => 70 %>
    <h6>Jean </br><span style="font-size: 12px;">aka "Chef"</span></h6>
    <p>jean.avocat@audencia.com</p>
  </div>
  <div class="bonhomme-part">
    <%= image_tag "svg/ange.svg", class: "bonhomme-picture", data: { inject: { svg: "svg/ange.svg" } }, :width => 80 %>
    <h6>Benoit </br><span style="font-size: 12px;">aka "Ben"</span></h6>
    <p>benoit.07@hotmail.com</p>
  </div>
  <div class="bonhomme-part">
    <%= image_tag "svg/photocopieuse.svg", class: "bonhomme-picture", data: { inject: { svg: "svg/photocopieuse.svg" } }, :width => 80 %>
    <h6>Alfred </br><span style="font-size: 12px;">aka "Alou"</span></h6>
    <p>gaudin.all@gmail.com</p>
  </div>
  <div class="bonhomme-part">
    <%= image_tag "svg/paquerette.svg", class: "bonhomme-picture", data: { inject: { svg: "svg/paquerette.svg" } }, :width => 80 %>
    <h6>Marguerite </br><span style="font-size: 12px;">aka "Paquerette"</span></h6>
    <p>margueritechoyer@gmail.com</p>
  </div>
</div>
