<div class="chifoumi-game-player-info">
  <div class ="">
    <h1>Chifoumi</h1>
    <h6 class="gray-text-h6">tu joues contre</h6>
    <% if chifoumi_game.first_player == current_user %>
      <h6 class="competitor" data-chifoumi-game-subscription-target="competitor"><%= chifoumi_game.second_player.random_nickname %></h6>
    <% else %>
      <h6 class="competitor" data-chifoumi-game-subscription-target="competitor"><%= chifoumi_game.first_player.random_nickname %></h6>
    <% end %>
  </div>
</div>

<div class="chifoumi-game-choosen-weapons">
  <% if chifoumi_game.play_round.nil? %>
    <h5>La partie commence</h5>
    <div><%= @chifoumi_game.first_player_choice %></div>
    <div><%= @chifoumi_game.second_player_choice %></div>
  <% else %>
    <p></p>
  <% end %>
</div>

<div class="container">
  <%# <%= render "chifoumi_games/be_ready_counter", chifoumi_game: chifoumi_game %> %>
  <%= render "chifoumi_games/weapon_to_select", chifoumi_game: chifoumi_game %>
</div>
