<%# REVELATION PROFIL PAGE %>
<%# BOUTON RETOUR %>
<%= link_to game_match_path(@game_match) do %>
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
<% end %>
<% if (@accept === true)  %>
  <div class="reveal-identity-div">
  <% if current_user == @trip_session.joiner %>
    <h2>Mais qui est vraiment <%= @trip_session.creator.random_nickname %>?</h2>
    <img src="https://images.unsplash.com/photo-1593757107729-eae8bcc74f8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="gros bg">
    <p>C'est <br><span style="font-family: Oliver;"><%= @trip_session.creator.first_name %></span>!</p>
    <p class=<%=@class_for_creator_instagram_existance%> ><span style="font-size: 18px; line-height: 10px;">Retrouvez-vous avec Instagram <br><strong><%= @trip_session.creator.instagram_account %></strong></span></p>
    <p class=<%=@class_for_creator_phone_existance%> ><span style="font-size: 18px; line-height: 10px;">Appelle ton partenaire au <br><strong><%= @trip_session.creator.phone_number %></strong></span></p>
    <%= image_tag "svg/circle.svg", class: "reveal-profil-circle", data: { inject: { svg: "svg/circle.svg" } }, :width => 202 %>
  <% else %>
    <h2>Mais qui est vraiment <%= @trip_session.joiner.random_nickname %></h2>
    <img src="https://images.unsplash.com/photo-1593757107729-eae8bcc74f8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="énorme bg">
    <p>C'est <br><span style="font-family: Oliver;"><%= @trip_session.joiner.first_name %></span>!</p>
    <p class=<%=@class_for_joiner_instagram_existance%>><span style="font-size: 18px; line-height: 10px;">Retrouvez-vous avec Instagram <br><strong><%= @trip_session.joiner.instagram_account %></strong></span></p>
    <p class=<%=@class_for_joiner_phone_existance%>><span style="font-size: 18px; line-height: 10px;">Appelle ton partenaire au <br><strong><%= @trip_session.joiner.phone_number %></strong></span></p>
    <%= image_tag "svg/circle.svg", class: "reveal-profil-circle", data: { inject: { svg: "svg/circle.svg" } }, :width => 202 %>
  <% end %>
</div>
<% else %>
  <div>
    <h5>Petit coquin !</h5>
    <p> Tu vas un poil trop vite, ton partenaire n'a pas (encore) donné son accord</p>
  </div>
<% end %>
