<%# REVELATION PROFIL PAGE %>
<%# BOUTON RETOUR %>
<%= link_to game_match_path(@game_match) do %>
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
<% end %>
<% if (@accept === true)  %>
  <div class="reveal-identity-div">
  <% if current_user == @trip_session.joiner %>
    <h2>Mais qui est vraiment PetitCactus?</h2>
    <img src="https://images.unsplash.com/photo-1593757107729-eae8bcc74f8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="gros bg">
    <p>C'est <br><span style="font-family: Oliver;"><%= @trip_session.creator.first_name %></span>!</p>
    <p><span style="font-size: 18px; line-height: 10px;">Tu peux le retrouver sur <br><strong><%= @trip_session.creator.social_media %></strong></span></p>
    <%= image_tag "svg/circle.svg", class: "reveal-profil-circle", data: { inject: { svg: "svg/circle.svg" } }, :width => 202 %>
  <% else %>
    <h2>Mais qui est vraiment DouceCraquotte?</h2>
    <img src="https://images.unsplash.com/photo-1593757107729-eae8bcc74f8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="énorme bg">
    <p>C'est <br><span style="font-family: Oliver;"><%= @trip_session.joiner.first_name %></span>!</p>
    <p><span style="font-size: 18px; line-height: 10px;">Tu peux le retrouver sur <br><strong><%= @trip_session.joiner.social_media %></strong></span></p>
    <%= image_tag "svg/circle.svg", class: "reveal-profil-circle", data: { inject: { svg: "svg/circle.svg" } }, :width => 202 %>
  <% end %>
</div>
<% else %>
  <p> Tu vas un poil trop vite, ton partenaire n'a pas (encore) donné son accord</p>
<% end %>
