
<section>
  <p>tu joues contre</p>
  <p>petit cactus</p>
  <div class="game--container">
      <% (1..9).each do |n| %>
        <% if @tic_tac_toe_game.send("position_#{n}") || @tic_tac_toe_game.end_of_a_game? %>
          <div data-cell-index=<%= n %> class="cell"><p><%= @tic_tac_toe_game.send("position_#{n}") %></p></div>
        <% else %>
          <%= link_to(select_tile_tic_tac_toe_game_path(tile: "position_#{n}"), data: {turbo_method: :patch}) do %>
            <div data-cell-index=<%= n %> class="cell"><p><%= @tic_tac_toe_game.send("position_#{n}") %></p></div>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <% if @tic_tac_toe_game.end_of_a_game? %>
    <h2 class="game--status">The winner is <strong><%= @tic_tac_toe_game.result %></strong></h2>
  <% end %>
</section>
