<%# LEAVE THE GAME AND RETURN TO THE MENU %>
<div data-controller="return-game-match"  data-return-game-match-gameid-value= "<%= @game_match.id %>">
<%= link_to return_game_match_path(@game_match), data: {turbo_method: :patch, turbo_confirm: "Êtes vous sûr? En quittant la partie, vous abandonnez aussi votre adversaire"} do %>
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
<% end %>
<div class="message-leaving-game">
  <h6  data-return-game-match-target="leavemessage"></h6>
</div>

<%# TIC TAC TOE GAME %>
<div class="game-match-content">
  <div class="games-container">
    <%= render "tic_tac_toe_games/tic_tac_to_game", game_match: @game_match, tic_tac_toe_game: @tic_tac_toe_game %>
  </div>

  <div class="overlay" data-controller="display-chat">
    <div class="btn-to-display-or-hide-chat" data-action="click->display-chat#hideChat">
      <button data-display-chat-target="btnChatGameMatch" class="black-btn chat-btn-closed btn-fix-to-bottom" type="button"></button>
    </div>

    <%# CHAT %>
    <div class="chat-game-match hide-chat-game-match" data-display-chat-target="displayChatGameMatch">

      <%# CHANEL CHAT ROOM%>
      <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @game_match.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
        <div class="container chatroom">
          <div class="title-chatroom">
            <h6>chat avec <span data-chatroom-subscription-target="buddy"><%= @buddy %></span></h6>
          </div>
          <div>
            <div class="messages" data-chatroom-subscription-target="messages" data-display-chat-target="messages">
              <% @trip_session.messages.each do |message| %>
                <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                  <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                    <%= render "messages/message", message: message %>
                  </div>
                </div>
              <% end %>
            </div>
            <%# REQUESTS %>
            <%# ASK TO REVEAL PROFILE %>
            <div class="request" data-controller="request-subscription" data-request-subscription-user_id-value="<%= current_user.id %>" data-request-subscription-request-id-value="<%= @game_match.id %>" data-user="<%= current_user.id %>">
              <div class="request" data-request-subscription-target="request">
                <div data-request-subscription-target="sendRequest", class = <%= @requestclass %> >
                  <%= link_to  trip_session_requests_path(@trip_session), data: {turbo_method: :post} do %>
                    <button class="white-btn" id="révéler-mon-profil" type="button">Révéler mon profil</button>
                  <% end %>
                </div>
                <%# ACCEPT %>
                <div id="answer-request" data-request-subscription-target="answerRequest" class = <%= @answerrequestclass %> >
                  <div class="info-request">
                    <h6>Veux-tu révéler ton profil ?</h6>
                  </div>
                  <div id="accept-or-decline">
                    <div id="accept-request">
                      <%= link_to  accept_request_path, data: {turbo_method: :patch, action: 'click->request-subscription#disableAnswerRequest'} do %>
                        <button class="white-btn" id="accept-request" type="button">Oui</button>
                      <% end %>
                    </div>
                    <%# DECLINE %>
                    <div id="decline-request">
                      <%= link_to  decline_request_path, data: {turbo_method: :patch, action: 'click->request-subscription#disableAnswerRequest'} do %>
                        <button class="white-btn" id="decline-request" type="button">Non</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%# REQUESTS %>
            <div>
              <%= simple_form_for [@game_match, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
                <%= f.input :content,
                  label: false,
                  placeholder: "Ecris à #{@buddy}",
                  wrapper_html: {class: "flex-grow-1"} %>
                <%= f.submit "Envoyer", class: "black-btn", id: "btn-chat-submit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
