<%= render "tic_tac_toe_games/tic_tac_to_game", game_match: @game_match, tic_tac_toe_game: @tic_tac_toe_game %>

<%# CHANEL %>
<div>
  <div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @game_match.id %>">
  <h1>Canal de discussions</h1>

<div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @trip_session.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div>
    <%= simple_form_for [@game_match, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Ecris à #{@buddy}",
        wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
