<section class="">
<h6 class="gray-text-h6">tu joues contre</h6>
<% if @tic_tac_toe_game.cross_player == current_user %>
  <h6 class="competitor"><%= @tic_tac_toe_game.circle_player.random_nickname %></h6>
<% else %>
  <h6 class="competitor"><%= @tic_tac_toe_game.cross_player.random_nickname %></h6>
<% end %>
  <div class="game--container" data-controller="tic-tac-toe-game-subscription"  data-tic-tac-toe-game-subscription-game-id-value="<%= @game_match.id %>" data-tic-tac-toe-game-subscription-target="tictactoe">
    <%= render "tic_tac_toe_games/tic_tac_toe_game", tic_tac_toe_game: @tic_tac_toe_game %>
  </div>
</section>

<%# REQUESTS %>
<div>
  <div class="container chatroom">
    <div class="requests">
      <% @trip_session.requests.each do |request| %>
        <div id="request-<%= request.id %>">
          <small>
            <strong><%= request.sender_id %></strong>
            <i><%= request.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= request.status %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= simple_form_for [@trip_session,  @request], html: {class: "d-flex"} do |f| %>
    <%= f.submit "Révéler mon profil", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
  <div>
    <div>
      <%= simple_form_for [@request_answer, accept_request_path], html: {class: "d-flex"} do |f| %>
      <%= f.submit "Accepter la demande", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
    <div>
      <%= simple_form_for [@request_answer, decline_request_path], html: {class: "d-flex"} do |f| %>
      <%= f.submit "Refuser la demande", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
  </div>
</div>


<%# CHANEL %>
<div>
  <div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @game_match.id %>">
  <h1>Canal de discussions</h1>
<div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @trip_session.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div>
    <%= simple_form_for [@game_match, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Ecris à #{@buddy}",
        wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
