<%# LEAVE THE GAME AND RETURN TO THE MENU %>
<div class="modal-container" data-controller="modal-quit">
  <%= link_to "#", data: { action:"click->modal-quit#displayModal" } do %>
      <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
  <% end %>

  <div class="modal-quit-container d-none" data-modal-quit-target="modalQuitContainer">
  </div>

  <div class="modal-quit d-none mt-3" data-modal-quit-target="modal">
    <div class="text-center">
      <h5 >Veux-tu vraiment partir ?<br></h5>
      <p>Tu vas perdre définitivement ton adversaire.</p>
    </div>
    <div class="d-flex justify-content-around align-items-center">
      <%= link_to "Non", "#", class:"white-yellow-btn p-3", data: { action:"click->modal-quit#displayModal" } %>
      <%= link_to return_game_match_path(@game_match), data: { turbo_method: :patch }, class:"white-yellow-btn p-3" do %>
        Oui
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-centent-center p-3">
  <div data-controller="return-game-match"  data-return-game-match-gameid-value= "<%= @game_match.id %>">
    <div class="message-leaving-game">
      <h6 class ="text-center" data-return-game-match-target="leavemessage"></h6>
    </div>
  </div>
</div>

<%# GAME CHOICE %>
<div class="game-match-content">
  <div class="games-container">
  <%#= raise %>
    <% if @trip_session.game_matches.last.matchable_type == "ChifoumiGame" %>
      <%= render "chifoumi_games/chifoumi_game", game_match: @game_match, chifoumi_game: @chifoumi_game %>
    <% else %>
      <%= render "tic_tac_toe_games/tic_tac_to_game", game_match: @game_match, tic_tac_toe_game: @tic_tac_toe_game %>
    <% end  %>
  </div>

  <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @game_match.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="chat-overlay-game" data-controller="display-chat">
      <div data-controller="request-subscription" data-request-subscription-user_id-value="<%= current_user.id %>" data-request-subscription-request-id-value="<%= @game_match.id %>" data-user="<%= current_user.id %>">
        <div class="btn-to-display-or-hide-chat" data-action="click->display-chat#hideChat">
          <button data-display-chat-target="btnChatGameMatch" class="black-btn chat-btn-closed btn-fix-to-bottom" type="button">
            <div data-chatroom-subscription-target="notifMessages" data-display-chat-target="notifMessages"></div>
            <div data-request-subscription-target="notifRequests" data-display-chat-target="notifRequests"></div>
            <div class="chat-btn-icon">
              <div data-display-chat-target="emailIcon" class="chat-btn-closed-email-img"></div>
              <div data-display-chat-target="arrowIcon"></div>
            </div>
          </button>
        </div>
        <%# CHAT %>
        <div class="chat-game-match hide-chat-game-match" data-display-chat-target="displayChatGameMatch" data-chatroom-subscription-target="ChatGameMatch" data-request-subscription-target="ChatGameMatch">
          <%# CHANEL CHAT ROOM%>
          <div class="container chatroom">
            <div class="title-chatroom">
              <h6>chat avec <span data-chatroom-subscription-target="buddy"><%= @buddy %></span></h6>
            </div>
            <div>
              <div class="messages" data-chatroom-subscription-target="messages" data-display-chat-target="messages">
                <% @trip_session.messages.each do |message| %>
                  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                      <%= render "messages/message", message: message %>
                    </div>
                  </div>
                <% end %>
              </div>


              <%# REQUESTS %>
              <%# ASK TO REVEAL PROFILE %>
              <div class="request">
                <div class="request" data-request-subscription-target="request">
                  <div class="game-match-show-reveal-div" data-request-subscription-target="sendRequest" >
                    <div class = <%= @requestclass %> >
                      <%= link_to  trip_session_requests_path(@trip_session), data: {turbo_method: :post} do %>
                        <button class="white-btn" id="révéler-mon-profil" type="button">Révéler mon profil</button>
                      <% end %>
                    </div>
                  </div>
                  <%# ACCEPT %>
                  <div id="answer-request" data-request-subscription-target="answerRequest" class = <%= @answerrequestclass %> >
                    <div class="info-request">
                      <h6>Veux-tu révéler ton profil ?</h6>
                      <div id="accept-or-decline">
                        <div id="accept-request">
                          <%= link_to  accept_request_path, data: {turbo_method: :patch, action: 'click->request-subscription#disableAnswerRequest'} do %>
                            <button class="white-btn" id="accept-request" type="button">Oui</button>
                          <% end %>
                        </div>
                      <%# DECLINE %>
                      <div id="decline-request">
                        <%= link_to  decline_request_path, data: {turbo_method: :patch, action: 'click->request-subscription#disableAnswerRequest'} do %>
                          <button class="white-btn" id="decline-request" type="button">Non</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>


              <%# BOUTON D'ENVOI CHAT %>
              <div>
                <%= simple_form_for [@game_match, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
                  <%= f.input :content,
                    label: false,
                    placeholder: "Ecris à #{@buddy}",
                    wrapper_html: {class: "flex-grow-1"} %>
                  <%= f.submit "Envoyer", class: "black-btn", id: "btn-chat-submit" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
