<div data-controller="return-game-match"  data-return-game-match-gameid-value= "<%= @game_match.id %>">
<%= link_to return_game_match_path(@game_match), data: {turbo_method: :patch, turbo_confirm: "Êtes vous sûr?"} do %>
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
<% end %>
</div>

  <section data-controller="tic-tac-toe-game-subscription" data-tic-tac-toe-game-subscription-game-id-value="<%= @game_match.id %>">
  <div class="tic-tac-toe-game-player-info">
    <div>
      <h6 class="gray-text-h6">tu joues contre</h6>
      <% if @tic_tac_toe_game.cross_player == current_user %>
        <h6 class="competitor" data-tic-tac-toe-game-subscription-target="competitor"><%= @tic_tac_toe_game.circle_player.random_nickname %></h6>
      <% else %>
        <h6 class="competitor" data-tic-tac-toe-game-subscription-target="competitor"><%= @tic_tac_toe_game.cross_player.random_nickname %></h6>
      <% end %>
    </div>
    <div>
      <h6>ton signe <strong><%= @tic_tac_toe_game.cross_player == current_user ? "X" : "O" %></strong></h6>
    </div>
    <div>
      <% if @tic_tac_toe_game.who_have_to_play == current_user %>
        <h6 data-tic-tac-toe-game-subscription-target="nickname">C'est à ton tour de jouer</h6>
      <% else %>
        <h6 data-tic-tac-toe-game-subscription-target="nickname">C'est au tour de <%= @tic_tac_toe_game.who_have_to_play.random_nickname %></h6>
      <% end %>
    </div>
  </div>
  <div class="game--container">
    <% (1..9).each do |n| %>
      <% if @tic_tac_toe_game.position(n) || @tic_tac_toe_game.end_of_a_game? %>
        <%= render "tic_tac_toe_games/selected_tile", tic_tac_toe_game: @tic_tac_toe_game ,n: %>
      <% else %>
        <%= render "tic_tac_toe_games/tile_to_select", tic_tac_toe_game: @tic_tac_toe_game ,n: %>
      <% end %>
    <% end %>
    <br>
    <div class="tic-tac-toe-result" data-tic-tac-toe-game-subscription-target="result">
      <% if @tic_tac_toe_game.end_of_a_game? %>
        <h6><%= @tic_tac_toe_game.result %></h6>
      <% end %>
    </div>
  </div>
</section>

<%# CHANEL %>
<div>
  <div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @game_match.id %>">
  <h1>Canal de discussions</h1>

<div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @trip_session.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div>
    <%= simple_form_for [@game_match, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Ecris à #{@buddy}",
        wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
