<%# LEAVE THE GAME AND RETURN TO THE MENU %>
<div data-controller="return-game-match"  data-return-game-match-gameid-value= "<%= @game_match.id %>">
<%= link_to return_game_match_path(@game_match), data: {turbo_method: :patch, turbo_confirm: "Êtes vous sûr? En quittant la partie, vous abandonnez aussi votre adversaire"} do %>
    <%= image_tag "svg/back_button.svg", class: "profil-header-return", data: { inject: { svg: "svg/back_button.svg" } }, :width => 27 %>
<% end %>
<div class="message-leaving-game">
  <h6  data-return-game-match-target="leavemessage"></h6>
</div>

<%# TIC TAC TOE GAME %>
<%= render "tic_tac_toe_games/tic_tac_to_game", game_match: @game_match, tic_tac_toe_game: @tic_tac_toe_game %>

<div data-controller="display-chat">
  <div class="button-chat" data-action="click->display-chat#hideChat">
    <button class="white-yellow-btn" type="button"><%= image_tag "svg/back_button.svg", class: "profil-header-return" %></button>
  </div>

  <%# CHAT %>
  <div class="chat-game-match hide-chat-game-match" data-display-chat-target="displayChatGameMatch">
    <%# REQUESTS %>
    <div class="container request" data-controller="request-subscription" data-request-subscription-request-id-value="<%= @game_match.id %>" data-user="<%= current_user.id %>">
      <div class="request" data-request-subscription-target="request">
        <div data-request-subscription-target="sendRequest", class = <%= @requestclass %> >
          <%= simple_form_for [@trip_session,  @request], html: { class: "d-flex"} do |f| %>
          <%= f.submit "Révéler mon profil", class: "btn btn-primary mb-3" %>
          <% end %>
        </div>
        <div id="answer-request" data-request-subscription-target="answerRequest" class = <%= @answerrequestclass %> >
          <div id="accept-request">
            <%= simple_form_for @request, :url => accept_request_path, :method => :patch, html: { data: { action: "turbo:submit-end->request-subscription#disableAnswerRequest"}, class: "d-flex"} do |f| %>
            <%= f.submit "Accepter la demande", class: "btn btn-primary mb-3" %>
            <% end %>
          </div>
          <div id="decline-request">
            <%= simple_form_for @request, :url => decline_request_path, :method => :patch, html: { data: { action: "turbo:submit-end->request-subscription#disableAnswerRequest"}, class: "d-flex"} do |f| %>
            <%= f.submit "Refuser la demande", class: "btn btn-primary mb-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%# CHANEL CHAT ROOM%>
    <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @game_match.id %>">
      <div class="container chatroom">
        <h1>Canal de discussions</h1>
        <div>
          <div class="messages" data-chatroom-subscription-target="messages">
            <% @trip_session.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
          <div>
            <%= simple_form_for [@game_match, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
              <%= f.input :content,
                label: false,
                placeholder: "Ecris à #{@buddy}",
                wrapper_html: {class: "flex-grow-1"} %>
              <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
