<%# CREATION DE SESSION PAGE %>

<div class="session-new-general-div">
  <h1>Next Stop</h2>
  <h2>Connexion</h2>

  <div class="session-new-line">
    <%= image_tag "svg/ligne.svg", class: "session-new-ligne", data: { inject: { svg: "svg/ligne.svg" } }, :width => 300 %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="formulaire">
      <%= f.input :email,
                  placeholder: 'email',
                  required: false,
                  :label => false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  placeholder: 'mot de passe',
                  required: false,
                  :label => false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <button id="submit-pink-btn" type="button"><%= f.button :submit, "Se \n connecter" %></button>
  <% end %>

  <div class="session-new-links"><p>Ou <%= render "devise/shared/links" %></p></div>
</div>

