<h2>Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                :label => "Email :",
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                :label => "Mot de passe :",
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, :label => "Rester connecté :", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Connexion" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
