<%# PAGE DE JEUX %>
<div class="trip-session-new">

<%# HEADER %>
  <div class="trip-session-new-profile-div">
    <div class="trip-session-new-profile-text"><h6><span style="font-family: Barlow;">Bienvenue</span> <br><%= current_user.random_nickname %></h6></div>
    <div class="trip-session-new-profil-picture">
      <%= link_to my_profil_path do %>
        <%= image_tag "svg/profil.svg", class: "trip-session-new-profil", data: { inject: { svg: "svg/profil.svg" } }, :width => 50 %>
      <% end %>
    </div>
  </div>

<%# LIGNE %>
  <div class="trip-session-new-inside-profile">
  <div class="trip-session-new-line">
    <%= image_tag "svg/ligne.svg", class: "session-new-ligne", data: { inject: { svg: "svg/ligne.svg" } }, :width => 300 %>
  </div>

<%# BLOC INFORMATION DE LA ROOM %>
  <div class="trip-session-new-infos-div">
    <div class="trip-session-new-icons">
      <div class="trip-session-new-bus">
        <%= image_tag "svg/bus.svg", class: "trip-session-new-bus", data: { inject: { svg: "svg/bus.svg" } }, :width => 70 %>
      </div>
      <div class="trip-session-new-bonhommes"></div>
    </div>
    <div class="trip-session-new-details">
      <p>Bus  <span style="font-family: Oliver;">ligne 9</span></p>
      <p><span style="font-family: Oliver;"><%= @active_people  %></span> voyageurs connectés</p>
    </div>
  </div>


<%# CARDS DE JEUX %>
  <div class="trip-session-new-games-cards">

  <%# MORPION CARD %>
    <div class="trip-session-new-game-card">

      <div class="image">
        <%= image_tag "svg/morpions_card.svg", class: "", data: { inject: { svg: "svg/morpions_card.svg" } }, :height => 270 %>
      </div>
      <% if @trip_session_tic_tac_toe_game != nil  %>
        <div class="trip-session-gamer-bonhomme"></div>
      <% end %>
      <div class="button">
        <% if @trip_session_tic_tac_toe_game != nil  %>
          <%= button_to join_tic_tac_toe_trip_session_path(@trip_session_tic_tac_toe_game), class: "bouton-create-game", method: :patch do %>
            <div class="trip-session-new-join">
              <div class="">
                <h2>Rejoins la partie!</h2>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= button_to create_tic_tac_toe_path, class: "bouton-create-game", method: :post do %>
            <div class="trip-session-new-create">
              <p>Aucune partie de Morpion en attente</p>
              <h2>Créer une partie!</h2>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  <%# CHIFOUMI CARD%>
    <div class="trip-session-new-game-card">

      <div class="image">
        <%= image_tag "svg/chifoumi_card.svg", class: "", data: { inject: { svg: "svg/chifoumi_card.svg" } }, :height => 270 %>
      </div>
      <% if @trip_session_chifoumi != nil  %>
        <div class="trip-session-gamer-bonhomme"></div>
      <% end %>

      <div class="button">
        <% if @trip_session_chifoumi != nil  %>
          <%= button_to join_chifoumi_trip_session_path(@trip_session_chifoumi), class: "bouton-create-game", method: :patch do %>
            <div class="trip-session-new-join">
              <div class="">
                <h2>Rejoins la partie!</h2>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= button_to create_chifoumi_path, class: "bouton-create-game", method: :post do %>
            <div class="trip-session-new-create">
              <p>Aucune partie de Chifoumi en attente</p>
              <h2>Créer une partie!</h2>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
